@use "@material/layout-grid/mdc-layout-grid";

@use '@material/button/mdc-button';
@use '@material/button';

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@use "@material/card";


@use "@material/list";

@use "@material/icon-button";

@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

@use "@material/checkbox";
@use "@material/form-field";

@use "@material/top-app-bar/mdc-top-app-bar";

@use "@material/radio";

@use "@material/linear-progress";

@use "@material/circular-progress/mdc-circular-progress";

@use "@material/snackbar/mdc-snackbar";

@use "@material/fab";

@include fab.core-styles;

@include linear-progress.core-styles;

@include radio.core-styles;

@include icon-button.core-styles;

@include checkbox.core-styles;
@include form-field.core-styles;

@include icon-button.core-styles;





@include card.core-styles;

@include list.core-styles;

@include card.core-styles;

@include textfield.core-styles;



@include icon-button.core-styles;


  
  // MDC Web's default desktop breakpoint
  @media (min-width: 840px) {
    .demo-grid .mdc-layout-grid__inner {
      justify-content: center;
    }
  
    // Specify start position for odd cells
    // :nth-child(2n+1) is more flexible than :nth-child(odd) as you can use this pattern for 3, 4, etc. cells in a row (3n+1, 4n+1 etc.).
    .demo-cell:nth-child(2n+1) {
      grid-column-start: 1;
    }
  }

  .my-card {
    height: 600px;
  }


  .material-icons.nature { color: #86FF33; }
  .material-icons.cafe { color: #900C3F ; }
  .material-icons.restaurant { color: #FFAF33 ; }
  .material-icons.marker { color: #FF7A33 ; }




